header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.NavBar {
    list-style-type: none;
    text-align: center;
    background-color: rgb(117, 233, 0);
}

#Nav {
    position: fixed;
    margin-left: 300px;
}

body {
    background-color: rgb(254, 255, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.NavBar a {
    text-decoration: none;
    display: inline-block;
    border: 10px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.NavBar a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(33, 199, 190);
    border-radius: 5px;
    color: chocolate;
    transition: 0.2s ease;
}

.NavLink {
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 75px;
    padding-right: 75px;
}

.copyrightFooter {
    text-align: center;
    background-color: bisque;
    display: block;
}

.hamburgerLi {
    float: right;
}

.hamburgerButton {
    cursor: pointer;
    padding-top: 10px;
}

.Streep1, .Streep2, .Streep3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.Streep1:hover, .Streep2:hover, .Streep3:hover {
    background-color: white;
}

.hamburgerAnimatie .Streep1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.hamburgerAnimatie .Streep2 {
    opacity: 0;
}

.hamburgerAnimatie .Streep3 {
    transform: translate(0, -11px) rotate(45deg);
}

.hamburgerMenu {
    list-style-type: none;
    color: white;
    padding: 200px;
    margin-right: 700px;
    background-color: green;
    text-align: center;
    display: inline-block;
}

.hamburgerOverlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    text-align: center;
    transition: opacity 0.3s ease;
    opacity: 0%;
}

.hamburgerMenu a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.hamburgerMenu a:hover {
    color: chocolate;
    transition: 0.2s ease;
}

.hamburgerMenu li {
    margin: 20px 0px;
}

.hamburgerOverlay.show {
    display: block;
    opacity: 1;
}

.eindpaginaFooter {
    background-color: cornflowerblue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Kolom1, .Kolom2 {
    padding-left: 250px;
    padding-right: 250px;
}

.Kolom2 a {
   text-decoration: none;
   color: white;
}

.Kolom2 a:hover {
    color: chocolate;
    transition: 0.2s ease;
}

.EersteDiv {
    margin-top: 150px;
    text-align: center;
}

#Formulier {
   margin: auto;
    padding: 20px;
    border: 2px solid black;
    display: block;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 28%;
    margin-right: 25%;
    margin-bottom: 5%;
}

label, input {
    display: block;
    margin: 10px 0px 5px;
}


input, select {
    padding: 10px;
    margin-bottom: 20px;
}

p {
    margin: 20px 0px;
}

form {
    margin-left: 38%;
    margin-right: 25%;
}

#Formulier h2 {
    text-align: center;
}

@media only screen and (max-width: 800px) {

}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    #Formulier {
        width: 50%;
        text-align: center;
        margin: auto;
     }

     .Kolom1, .Kolom2 {
        display: inline-block;
        padding: auto;
        margin-right: 150px;
        text-align: center;
        }

        .Kolom2 {
            padding-left: 220px;
        }
}

/* Pop Up code */
.BevestigingPopup {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    flex-direction: column;
    text-align: center;
    border: 5px solid gray;
    border-radius: 8px;
    margin-left: 750px;
    margin-top: 250px;
}

.BevestigingsPopup p {
    width: 100px;
}

.CrossButton {
    position: fixed;
    top: 230px;
    left: 1145px;
    background-color: white;
    border-radius: 200px;
    cursor: pointer;
}

.PopupShow {
    display: flex;
    transition: ease-in 1s;
}

.PopupHide {
    display: none;
}

#knopWegklikken {
    display: none;
    background: transparent;
    border: none;
}

.knopWegklikken {
    cursor: pointer;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-image: url("/Images/crossbutton.png");
    background-size: cover;
    translate: 200px -150px;
}

@keyframes PopIn {
    0% {
        opacity: 0; transform: scale(0.1);
    }

    100% {
        opacity: 1; transform: scale(1); 
    }
}

#PopUp {
    animation: PopIn 500ms ease-in-out alternate;
    position: fixed;
    top: 100px;
}