header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.NavBar {
    text-align: center;
    background-color: rgb(117, 233, 0);
}

#Nav {
    position: fixed;
    margin-left: 300px;
}

.NavBar a {
    text-decoration: none;
    display: inline-block;
    border: 10px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.NavBar a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(33, 199, 190);
    border-radius: 5px;
    color: chocolate;
    transition: 0.2s ease;
}

.NavLink {
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 75px;
    padding-right: 75px;
}

.copyrightFooter {
    text-align: center;
    background-color: bisque;
    display: block;
}

.hamburgerLi {
    float: right;
}

.hamburgerButton {
    cursor: pointer;
    padding-top: 10px;
}

.Streep1, .Streep2, .Streep3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.Streep1:hover, .Streep2:hover, .Streep3:hover {
    background-color: white;
}

.hamburgerAnimatie .Streep1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.hamburgerAnimatie .Streep2 {
    opacity: 0;
}

.hamburgerAnimatie .Streep3 {
    transform: translate(0, -11px) rotate(45deg);
}

.hamburgerMenu {
    list-style-type: none;
    color: white;
    padding: 200px;
    margin-right: 700px;
    background-color: green;
    text-align: center;
    display: inline-block;
}

.heroImg {
    background-image: url("../Images/heroimage3.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 150px;
    zoom: 120%;
    text-shadow: 3px 3px black;
    position: relative;
    z-index: -1;
    margin-top: 80px;
}

.heroText {
    text-align: center;
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburgerOverlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    text-align: center;
    transition: opacity 0.3s ease;
    opacity: 0%;
}

.hamburgerMenu a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.hamburgerMenu a:hover {
    color: chocolate;
    transition: 0.2s ease;
}

.hamburgerMenu li {
    margin: 20px 0px;
}

.hamburgerOverlay.show {
    display: block;
    opacity: 1;
}

.eindpaginaFooter {
    background-color: cornflowerblue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.eindpaginaFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Kolom1, .Kolom2 {
    padding-left: 250px;
    padding-right: 250px;
}

.Kolom2 a {
   text-decoration: none;
   color: white;
}

.Kolom2 a:hover {
    color: chocolate;
    transition: 0.2s ease;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8 {
    display: inline-block;
    border: 10px solid greenyellow;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0;
    margin: 100px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card1 p, .card2 p, .card3 p, .card4 p, .card5 p, .card6 p, .card7 p, .card8 p {
    font-family: Arial, Helvetica, sans-serif;
}

.cardahref {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.cardahref:hover {
    color: chocolate;
    transition: 0.3s ease;
}

body {
    background-image: url("../Images/heroimage1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(0, 106, 255);
}

@media only screen and (max-width: 800px) {
    #Nav {
        display: none;
    }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    .eindpaginaFooter {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Kolom1, .Kolom2 {
        padding-left: 250px;
        padding-right: 250px;
    }
}