.NavBar {
    list-style-type: none;
    text-align: center;
    position: sticky;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: lightgreen;
}

body {
    padding-top: 20px;
    background-color: rgb(0, 106, 255);
}

.NavBar a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border: 5px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.NavBar a img {
    display: inline-block;
    border: 5px solid transparent;

}

.NavBar a:hover img {
    background-color: transparent;
}

.NavBar a:hover {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(65, 144, 140);
    border-radius: 5px;
}

.NavLink {
    display: inline-block;
    margin: 0px;
    padding-bottom: 25px;
    padding-top: 20px;
    padding-left: 75px;
    padding-right: 75px;
    color: black;
}


.NavBar a:hover {
    color: chocolate;
    transition: 0.2s ease;
}

.copyrightFooter {
    text-align: center;
    background-color: bisque;
    display: block;
}

.hamburgerLi {
    float: right;
    margin-right: 150px;
}

.hamburgerButton {
    cursor: pointer;
    padding-top: 15px;
}

.Streep1, .Streep2, .Streep3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburgerAnimatie .Streep1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.hamburgerAnimatie .Streep2 {
    opacity: 0;
}

.hamburgerAnimatie .Streep3 {
    transform: translate(0, -11px) rotate(45deg);
}

.hamburgerMenu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color: white;
}

.hamburgerMenu.active {
    display: block;
    text-align: center;
}

.heroImg {
    background-image: url("../Images/heroimage3.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 150px;
    zoom: 120%;
    text-shadow: 3px 3px black;
    position: relative;
    z-index: -1;
    margin-top: 50px;
}

.heroText {
    text-align: center;
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburgerOverlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    text-align: center;
    padding-top: 45px;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.hamburgerMenu a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: bold;
}

.hamburgerMenu a:hover {
    color: chocolate;
    transition: 0.2s ease;
}

.hamburgerMenu li {
    margin: 20px 0px;
}

.hamburgerMenu a {
    text-decoration: none;
    color: white;
}

.hamburgerOverlay.show {
    display: block;
    opacity: 1;
}

.eindpaginaFooter {
    background-color: cornflowerblue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.Kolom1, .Kolom2 {
    display: inline-block;
    padding-left: 150px;
    padding-bottom: 25px;
}

.Kolom2 a {
   text-decoration: none;
   color: white;
}

.Kolom2 a:hover {
    color: chocolate;
    transition: 0.2s ease;
}

.card1 {
    display: inline-block;
    border: 10px solid greenyellow;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0;
    margin: 100px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.card2 {
    display: inline-block;
    border: 10px solid greenyellow;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0;
    margin: 100px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.card3 {
    display: inline-block;
    border: 10px solid greenyellow;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0;
    margin: 100px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.card4 {
    display: inline-block;
    border: 10px solid greenyellow;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0;
    margin: 100px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.card5 {
    display: inline-block;
    border: 10px solid greenyellow;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0;
    margin: 100px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.card6 {
    display: inline-block;
    border: 10px solid greenyellow;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0;
    margin: 100px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.card7 {
    display: inline-block;
    border: 10px solid greenyellow;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0;
    margin: 100px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.card8 {
    display: inline-block;
    border: 10px solid greenyellow;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0;
    margin: 100px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.cards {
    background-color: aquamarine;
}

.cardahref {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: bolder;
}

.cardahref:hover {
    color: chocolate;
    transition: 0.3s ease;
}