.NavBar {
    list-style-type: none;
    text-align: center;
    position: sticky;
}

.NavBar a:hover {
    background-color: green;
    color: white;

}

.NavLink {
    display: inline;
}

.footer {
    text-align: center;
}

.Hamburger {

}

.HamburgerButton {
    display: inline;
    cursor: pointer;
  }

  .Streep1, .Streep2, .Streep3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .HamburgerAnimatie .Streep1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .HamburgerAnimatie .Streep2 {
    opacity: 0;
}

.HamburgerAnimatie .Streep3 {
    transform: translate(0, -11px) rotate(45deg);
  }
