header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.NavBar {
    list-style-type: none;
    text-align: center;
    background-color: rgb(117, 233, 0);
}

#Nav {
    position: fixed;
    margin-left: 300px;
}

body {
    background-color: beige;
}

.NavBar a {
    text-decoration: none;
    display: inline-block;
    border: 10px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.NavBar a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(33, 199, 190);
    border-radius: 5px;
    color: chocolate;
    transition: 0.2s ease;
}

.NavLink {
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 75px;
    padding-right: 75px;
}

.copyrightFooter {
    text-align: center;
    background-color: bisque;
    display: block;
}

.hamburgerLi {
    float: right;
}

.hamburgerButton {
    cursor: pointer;
    padding-top: 10px;
}

.Streep1, .Streep2, .Streep3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.Streep1:hover, .Streep2:hover, .Streep3:hover {
    background-color: white;
}

.hamburgerAnimatie .Streep1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.hamburgerAnimatie .Streep2 {
    opacity: 0;
}

.hamburgerAnimatie .Streep3 {
    transform: translate(0, -11px) rotate(45deg);
}

.hamburgerMenu {
    list-style-type: none;
    color: white;
    padding: 200px;
    margin-right: 700px;
    background-color: green;
    text-align: center;
    display: inline-block;
}

.hamburgerOverlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    text-align: center;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.hamburgerMenu a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.hamburgerMenu a:hover {
    color: chocolate;
    transition: 0.2s ease;
}

.hamburgerMenu li {
    margin: 20px 0px;
}

.hamburgerOverlay.show {
    display: block;
    opacity: 1;
}

.eindpaginaFooter {
    background-color: cornflowerblue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Kolom1, .Kolom2 {
    padding-left: 250px;
    padding-right: 250px;
}

.Kolom2 a {
   text-decoration: none;
   color: white;
}

.Kolom2 a:hover {
    color: chocolate;
    transition: 0.2s ease;
}

.overOnstext {
    text-align: center;
    margin-bottom: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overOnstext h3 {
    margin-top: 60px;
}

.overOnstext h1 {
    padding-top: 150px;
}

.overOnslinkje {
    text-decoration: none;
}

.overOnslinkje:hover {
    color: chocolate;
    transition: 0.3s ease;
}

.overOnslasttext {
    padding-top: 30px;
}

.samenwerkingPartners img {
    padding-top: 20px;
}

.Doelgroep {
    padding-bottom: 30px;
}

/* Media Query uitgeprobeerd maar nav bar gedraagt zich vreemd en 
rechter kolom in eindpaginafooter schuift steeds verder weg */
@media only screen and (max-width: 800px) { 
    .eindpaginaFooter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .personeelFoto {
        width: 100%;
    }

    .Kolom1 {
        width: 25vw;
        text-align: left;
        padding-left: 450px;
    }

    .Kolom2 {
        width: 50vw;
        text-align: left;
    }
}

/*
Code voor responsive nav bar, uitgprobeerd zonder resultaat

@media screen only screen and (width: < 800px) {

@layer reset {
    .navbar, .navbar-brand, .menu, .ResponsiveLink {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      }
    
    .navbar {
      display: block;
      }
    
    body {
      line-height: 1;
      }
    
    .menu {
      list-style: none;
      }
    }
    
  @layer navbar {
    nav {
      background: #1a1a1a;
      font-family: system-ui;
      position: relative;
      }
      
      nav a {
        display: block;
        text-decoration: none;
        color: white;
      }
      nav .navbar {
        display: flex;
        justify-content: space-between;
        width: min(1500px, 100% - 3em);
        margin-inline: auto;
      }
      nav .navbar .navbar-brand {
        font-size: 1.5rem;
        padding-block: 0.5em;
      }
      nav .navbar ul {
        display: flex;
      }
      nav .navbar ul li a {
        padding: 1em;
      }
      nav .navbar .toggleMenu {
        align-self: center;
        aspect-ratio: 1;
        background: none;
        border: none;
        color: white;
        font-size: 2rem;
        padding: 0;
        cursor: pointer;
      }
    }
    nav .toggleMenu {
      display: none;
    }


    @media screen and (width <= 800px) {
      .menu {
        display: none;
        position: absolute;
        background: #333333;
      }
      .menu.active {
        display: flex;
        flex-direction: column;
      }
    
      nav .toggleMenu {
        display: block;
      }
    }
*/