.mobileNav {
    background-color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .mobileDiv {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
    padding: 15px;
  }
  
  .mobileList a {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  .mobileList a:hover {
    color: chocolate;
    background-color: rgb(33, 199, 190);
  }
  
  @media (max-width: 760px) {
    .li6 {
      display: none;
    }
  }
  
  @media (max-width: 660px) {
    .li5 {
      display: none;
    }
  }
  
  @media (max-width: 530px) {
    .li4 {
      display: none;
    }
  }
  
  @media (max-width: 370px) {
    .li3 {
      display: none;
    }
  }