/* 6 uur alleen in dit bestand gewerkt zonder resultaat. Media Queries voor 200 - 600px is lastig en confusing */

.mobileNav {
    background-color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mobileUL {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.mobileList {
    padding: 15px;
    margin: 15px;
}

.mobileList a {
    text-decoration: none;
}

.mobileList a:hover {
    color: chocolate;
    background-color: rgb(33, 199, 190);
    border-radius: 5px;
    padding: 5px;
}

@media only screen and (min-width:200px) and (max-width:600px) {
    .mobileNav {
        width: 100%;
        margin: 5px;
    }

    .mobileUL {
        list-style-type: none;
        display: flex;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* .mobileNav {
  background-color: chartreuse;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mobileDiv {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
  padding: 15px;
}

.mobileList a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.mobileList a:hover {
  color: chocolate;
  background-color: rgb(33, 199, 190);
}

@media (max-width: 760px) {
  .li6 {
    display: none;
  }
}

@media (max-width: 660px) {
  .li5 {
    display: none;
  }
}

@media (max-width: 530px) {
  .li4 {
    display: none;
  }
}

@media (max-width: 370px) {
  .li3 {
    display: none;
  }
} */